        /*external style sheet*/
		
		#hfont{
			text-align:center;
			color:blue;
			font-family:Shadows Into Light;
		}
		h4{
			text-align:center;
		}
		#bg1{
			background-color:grey;
			border-style:solid;
			border-color:grey;
			margin:0px;
		}
		#bg2{
			background-color:rgb(200,200,200);
			border-style:solid;
			border-color:rgb(200,200,200);
			margin:0px;
		}
		
		a:link{
			color:red;
			text-decoration:underline;
		}
		a:visited{
			color:black;
		}	
		a:hover{
			font-weight:bold;
			font-family:Shadows Into Light;
			font-size:130%;
		}
		a:active{
			
		}
		
		